<div class="jumbotron">
    <!-- <h2>{{name}}</h2> -->

    <form>
        <div class="form-group">
            <input type="text" data-ng-model="name" class="form-control" id="exampleInputEmail1" placeholder="{{dictionary.fullName}}">
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-4">
                    <input type="number" data-ng-model="day" class="form-control" placeholder="{{dictionary.birthdayDay}}">
                </div>
                <div class="col-md-4">
                    <input type="number" data-ng-model="month" class="form-control" placeholder="{{dictionary.birthdayMonth}}">
                </div>
                <div class="col-md-4">
                    <input type="number" data-ng-model="year" class="form-control" placeholder="{{dictionary.birthdayYear}}">
                </div>
            </div>
        </div>
    </form>

    <p class="lead">
        <img src="images/1.png" alt="I'm Yeoman">
        <br> {{nameMap}}
    </p>
    <p><a class="btn btn-lg btn-success" data-ng-click="getCalculate()" data-ng-show="name && day && month && year">{{dictionary.calculate}}!<span class="glyphicon glyphicon-ok"></span></a>
    </p>
</div>

<div class="row marketing">

    <div data-ng-show="kabala.ideality">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{dictionary.ideality}}</h3>
            </div>
            <div class="panel-body">
                [{{kabala.ideality.number}}] {{kabala.ideality.message}}
            </div>
        </div>
        <hr>
    </div>

    <div data-ng-show="kabala.expression">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{dictionary.expression}}</h3>
            </div>
            <div class="panel-body">
                [{{kabala.expression.number}}] {{kabala.expression.message}}
            </div>
        </div>
        <hr>
    </div>
    <div data-ng-show="kabala.destination">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{dictionary.destination}}</h3>
            </div>
            <div class="panel-body">
                [{{kabala.destination.number}}] {{kabala.destination.message}}
            </div>
        </div>
        <hr>
    </div>
    <div data-ng-show="kabala.lessonOfLife">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{dictionary.lessonOfLife}}</h3>
            </div>
            <div class="panel-body">
                [{{kabala.lessonOfLife.number}}] {{kabala.lessonOfLife.message}}
            </div>
        </div>
        <hr>
    </div>
    <div data-ng-show="kabala.challenge">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{dictionary.challenge}}</h3>
            </div>
            <div class="panel-body">
                [{{kabala.challenge.number}}] {{kabala.challenge.message}}
            </div>
        </div>
        <hr>
    </div>
    <div data-ng-show="kabala.pinnacle">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{dictionary.pinnacle}}</h3>
            </div>
            <div class="panel-body">
                <p data-ng-repeat="data in kabala.pinnacle">
                    [{{data.number}}] {{dictionary.upTo}} {{data.ageLimit}} {{dictionary.yearsOld}}: {{data.message}}
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div data-ng-show="kabala.personalDay">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{dictionary.personnelDay}}</h3>
            </div>
            <div class="panel-body">
                <p data-ng-repeat="data in kabala.personalDay">
                    [{{data.number}}] {{dictionary.day}} {{data.day}}: {{data.message}}
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div data-ng-show="kabala.personalMonth">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{dictionary.personnelMonth}}</h3>
            </div>
            <div class="panel-body">
                [{{kabala.personalMonth.number}}] {{kabala.personalMonth.message}}
            </div>
        </div>
        <hr>
    </div>
    <div data-ng-show="kabala.personalYear">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{dictionary.personnelYear}}</h3>
            </div>
            <div class="panel-body">
                <p data-ng-repeat="data in kabala.personalYear">
                    [{{data.number}}] {{dictionary.theBreakingOfTheMonth}} {{data.months}} - {{data.year}}: {{data.message}}
                </p>
            </div>
        </div>
        <hr>
    </div>
    <div data-ng-show="kabala.powerfulNumber">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{dictionary.powerfulNumber}}</h3>
            </div>
            <div class="panel-body">
                [{{kabala.powerfulNumber.number}}] {{kabala.powerfulNumber.message}}
            </div>
        </div>
        <hr>
    </div>
    <div data-ng-show="kabala.absence">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{dictionary.numberOfAbsence}}</h3>
            </div>
            <div class="panel-body">
                <p data-ng-repeat="data in kabala.absence">
                    [{{data.number}}] {{data.message}}
                    <br> {{dictionary.color}}: {{data.color}}
                    <br> {{dictionary.stone}}: {{data.stone}}
                    <br> {{dictionary.planet}}: {{data.planet}}
                    <br> {{dictionary.aroma}}: {{data.aroma}}
                    <br>
                </p>
            </div>
        </div>
        <hr>
    </div>
</div>
