<div class="jumbotron">
    <!-- <h2>{{name}}</h2> -->

    <form>
        <div class="form-group">
            <input type="text" data-ng-model="name" class="form-control" id="exampleInputEmail1" placeholder="Nome Completo">
        </div>
        <div class="form-group">
            <input type="text" data-ng-model="birthday" class="form-control" id="exampleInputPassword1" placeholder="Data de Nascimento [dd/mm/yyyy]">
        </div>
    </form>

    <p class="lead">
        <img src="images/1.png" alt="I'm Yeoman">
        <br> {{nameMap}}
    </p>
    <p><a class="btn btn-lg btn-success" data-ng-click="getCalculate()">Calcular!<span class="glyphicon glyphicon-ok"></span></a>
    </p>
</div>

<div class="row marketing">
    <div data-ng-show="kabala.ideality">
        <h4>Idealidade {{kabala.ideality.number}}:</h4>
        <p>
            {{kabala.ideality.message}}
        </p>
    </div>
</div>
